@charset "UTF-8";

/*reset*/
*{
    color: #000;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:link {color: #555;}
a:visited {color: #555;}
a:hover {color: #777;}
a:active{color: #888;}
a:focus {color: #999;}


ul {
    list-style: none;
}
/*reset 끝*/



/*div#wrap 시작*/
div#wrap {
    width: 1200px;
    border: 1px solid #000;
    margin: 0 auto;
}

#wrap>* {
    color: #000;
    font-size: 40px;
    border: 1px solid #000;
}


#header, #aside, #footer {
    height: 100px;
}

#main div#slideArea {
    width: 1200px;
    height: 300px;
    overflow:  hidden;
}

#main #slideshow {
    width: 3600px;
    height: 300px;
    border: 1px solid #f00;

    position: relative;
    left: 0;
    transition: all 3s;
}

#main #slideshow:hover {
    left: -1200px;
}

#main #slideshow>ul>li {

    position: absolute;

}


#main #slideshow>ul>li:nth-child(2) {
    left: 1200px;
}
#main #slideshow>ul>li:nth-child(3) {
    left: 2400px;
}


